<div class="container">
  <mat-card>
    <h2>Register Company</h2>

    <form (ngSubmit)="submit()">
      <mat-form-field class="full">
        <input matInput placeholder="Company Name" [(ngModel)]="model.companyName" name="companyName">
      </mat-form-field>

      <mat-form-field class="full">
        <input matInput placeholder="Company Code" [(ngModel)]="model.companyCode" name="companyCode">
      </mat-form-field>

      <mat-form-field class="full">
        <input matInput placeholder="Admin Username" [(ngModel)]="model.adminUserName" name="adminUserName">
      </mat-form-field>

      <mat-form-field class="full">
        <input matInput type="password" placeholder="Admin Password" [(ngModel)]="model.adminPassword" name="adminPassword">
      </mat-form-field>

      <button mat-raised-button color="primary" class="full">Register</button>
    </form>
  </mat-card>
</div>
